<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.dangdang.com/schema/ddframe/reg http://www.dangdang.com/schema/ddframe/reg/reg.xsd
        http://www.dangdang.com/schema/ddframe/job http://www.dangdang.com/schema/ddframe/job/job.xsd">

<!--    &lt;!&ndash; 数据源配置 &ndash;&gt;-->
<!--    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">-->
<!--        <property name="username" value="root"/>-->
<!--        <property name="password" value="123456"/>-->
<!--        <property name="url" value="jdbc:mysql://localhost:3306/dataflow"/>-->
<!--    </bean>-->

    <!-- 注册中心 -->
    <reg:zookeeper id="zkCenter" server-lists="127.0.0.1:2181" namespace="tech-elasticjob"/>

    <!-- 声明simple类型任务
    overwrite：设置配置是否刷新 event-trace-rdb-data-source：事件追踪数据源配置-->
    <job:simple id="mySimpleJob" registry-center-ref="zkCenter" cron="0/10 * * * * ?" sharding-total-count="2"
                class="com.laravelshao.learning.elasticjob.job.MySimpleJob" overwrite="true"/>

    <!-- 声明dataflow类型任务 streaming-process：设置是否多次拉取数据，false等同于Simple任务 -->
<!--    <job:dataflow id="myDataflowJob" registry-center-ref="zkCenter" cron="0/10 * * * * ?" sharding-total-count="2"-->
<!--                  class="com.laravelshao.learning.elasticjob.job.MyDataflowJob" overwrite="true"-->
<!--                  streaming-process="true"/>-->

</beans>